<%= hidden_div_if cart.line_items.empty?, :id => 'cart' do %>
  <div class="cart_title">Your cart</div>
  <table>
    <%= render cart.line_items %>
  
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= price_for cart.total_price %></td>
    </tr>
  </table>
  
  <%= button_to 'Empty cart', cart_destroy_path, :method => :delete,
                :confirm => 'Are you sure?', :remote => true %>
<% end %>
